#
# Copyright © 2015 Exablox Corporation,  All Rights Reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
#
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#

body {
	background-color:	#EAFFFF;
#	border-width:		1px;
#	border-style:		solid;
}

table {
	border:			1px solid black;
	margin-left:		1em;
	margin-bottom:		1em;
}
h1,h2 {
	padding-left:		0.5em;
}

p {
	padding-left:		1em;
}

#table, th, td {
#	border:			1px solid black;
#}

td {
	padding-left:		2em;
	padding-right:		2em;
}

tr {
	background:		#FFFFEA;
}

tr:nth-child(odd) {
	background:		#EAFFFF;
}

li {
	background:		#FFFFEA;
}

li:nth-child(odd) {
	background:		#EAFFFF;
}

.package-list {
}

.overview {
	width:			800px;
#	border-style:		solid;
#	border-width:		1px;
}

.licenses {
#	width:			1000px
#	background-color:	#EAFFFF;
#	border-style:		solid;
#	border-width:		1px;
}

.license-paths {
#	border-width:		1px;
#	border-style:		solid;
#	border-color:		black;
}

.notice {
	width:			1000px
	background-color:	#EAFFFF;
	border-style:		solid;
	border-width:		1px;
}

.notice-paths {
#	border-width:		1px;
#	border-style:		solid;
#	border-color:		black;
}

.notice-path {
	padding-top:		0.1em;
	padding-left:		0.5em;
	background-color:	#FFFFEA;
}
.notice-text {
	background-color:	#EAFFFF;
	padding-left:		5em;
}
